@CHARSET "ISO-8859-1";
body{
	font-family: arial,sans-serif!important;
	font-size: 13px!important;
	background: url(../images/caro.png) repeat top left;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#wrr-body{
	padding-top: 100px;
}
#logo{
}
.login-box{
	border: 1px solid #D3D3D3;
	width: 390px;
	margin: 0 auto;
	padding: 20px 15px;
	border-radius: 2px;
	background: #0A4D7A;
	box-shadow: 1px 1px 10px #6D84B4;
	color: #FFF;
}
.login-box .row{
	overflow: hidden;
	margin-bottom: 10px;
}
.login-box h2 a{
	color: #FFD627;
	text-decoration: none;
	font-weight: bold;
}
.login-box form label{
	margin: 5px 0;
}
.login-box label{
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 10px!important;
}
.login-box input[type="text"],
.login-box input[type="password"]{
	width: 200px;
	padding: 6px 5px;
	border: 1px solid #333;
}
.login-box input[type="submit"]{
	padding: 3px 15px;
}
.rememberMe input{
	margin: 0
}
hr{
	border-bottom: 1px solid #E2E2E2;
	margin: 8px 0 25px 0;
}
.button{
background: #FFCF0B;
background: -moz-linear-gradient(top, #FFF5BD 0, #FFF5BD 1px, #FFE976 1px, #FFCF0B 100%);
background: -o-linear-gradient(top, #FFF5BD 0, #FFF5BD 1px, #FFE976 1px, #FFCF0B 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF5BD), color-stop(5%, #FFF5BD), color-stop(5%, #FFE976), color-stop(100%, #FFCF0B));
background: linear-gradient(top, #FFF5BD 0%,#FFF5BD 1px,#FFE976 1px,#FFCF0B 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE976', endColorstr='#FFCF0B',GradientType=0 );
border-color: #E8B463;
color: #333 !important;
font-weight: bold;
}
.button-red{
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}
.button-red:hover{
	background: #F6C408;
	background: -moz-linear-gradient(top, #FAEEAE 0, #FAEEAE 1px, #F5DB59 1px, #F6C408 100%);
	background: -o-linear-gradient(top, #FAEEAE 0, #FAEEAE 1px, #F5DB59 1px, #F6C408 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAEEAE), color-stop(5%, #FAEEAE), color-stop(5%, #F5DB59), color-stop(100%, #F6C408));
	background: linear-gradient(top, #FAEEAE 0%,#FAEEAE 1px,#F5DB59 1px,#F6C408 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5DB59', endColorstr='#F6C408',GradientType=0 );
}
.button-red:active{
	background: #F5DD61;
	background: -moz-linear-gradient(top, #F6C202 0, #F5DD61 100%);
	background: -o-linear-gradient(top, #F6C202 0, #F5DD61 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6C202), color-stop(100%, #F5DD61));
	background: linear-gradient(top, #F6C202 0%,#F5DD61 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6C202', endColorstr='#F5DD61',GradientType=0 );
	}